<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace="databases.services.batiservices.mappers.ISubjectsMapper">

    <select id="getById" parameterType="Long" resultMap="SubjectsResult">
        SELECT * FROM Subjects WHERE id =#{id}
    </select>

    <resultMap id="SubjectsResult" type="Subjects">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="maxCapacity" column="maxCapacity"/>
        <result property="schoolId" column="School_Id"/>
    </resultMap>

    <select id="getAllSubjects" resultMap="SubjectsResult">
        SELECT * FROM Subjects
    </select>

    <insert id="insert" parameterType="Subjects" useGeneratedKeys="true"
            keyProperty="id" >
        INSERT INTO Subjects(name,maxCapacity,School_Id)
        VALUES (#{name},#{maxCapacity},#{schoolId})
    </insert>

    <update id="update" parameterType="Subjects">
        UPDATE Subjects
        SET
        name = #{name},
        maxCapacity = #{maxCapacity},
        School_Id = #{schoolId}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        DELETE FROM Subjects WHERE id= #{id}
    </delete>

</mapper>