<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace="databases.services.mybatis.mappers.ITeachersMapper">

    <select id="getById" parameterType="Long" resultMap="TeachersResult">
        SELECT * FROM Teachers WHERE id =#{id}
    </select>

    <resultMap id="TeachersResult" type="Teachers">
        <id property="id" column="id"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="dateOfBirth" column="Date_Of_Birth"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="city" column="city"/>
        <result property="email" column="email"/>
        <result property="schoolId" column="School_Id"/>
    </resultMap>

    <select id="getAllTeachers" resultMap="TeachersResult">
        SELECT * FROM Teachers
    </select>

    <insert id="insert" parameterType="Teachers" useGeneratedKeys="true"
            keyProperty="id" >
        INSERT INTO Teachers(first_name,last_name,Date_Of_Birth,phone_number,city,email,School_Id)
        VALUES (#{firstName},#{lastName},#{dateOfBirth},#{phoneNumber},#{city},#{email},#{schoolId})
    </insert>

    <update id="update" parameterType="Teachers">
        UPDATE Teachers
        SET
        first_name = #{firstName},
        last_name = #{lastName},
        Date_Of_Birth = #{dateOfBirth},
        phone_number = #{phoneNumber},
        city = #{city},
        email = #{email}
        School_Id = #{schoolId},
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        DELETE FROM Teachers WHERE id= #{id}
    </delete>

</mapper>